@import 'variables';


.left {
    grid-area: left;
    background-color: $Cyan2;
    padding: 4vh;
    color: white;
        border-bottom-left-radius: 0.5rem;
    h3{

    font-size: 1.5rem;
    }
    
}

.right {
    grid-area: right;
    background-color: $Cyan;
    padding: 4vh;
    color: white;
        border-bottom-right-radius: 0.5rem;
    h3{

    font-size: 1.5rem;
    }
    p {
        padding-top: 2rem;
        font-size: 1.2rem;
    }
}

.full {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    p {
        padding-left: 1rem;
        color: $GrayishBlue;
    font-size: 1.5rem;
    }
}


.button {
    background-color: $BrightYellow;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}