/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */
@import 'variables';
@import 'top';
@import 'bottom';

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: $LightGray;
}

.container {
    display: grid;
    margin: 10vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:  'top top'
                          'left right';
}


@media only screen and (max-width: 580px) {

    .container{
        margin: 2vh;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas:  'top'
                          'left'
                          'right';

    }


    .left {
        border-radius: 0rem;
    }
    .right {
        border-bottom-left-radius: 0.5rem;
    }
  }